:root {
    --dark-color: hsl(180, 5%, 15%);
    --light-color: #ECEFF4;
    --white-color: #FFFFFF;
    --blue-color: #11A5D1;
    --red-color: #F5365C;
    --green-color: #2FC73D;
    --gray-color: #333333;
    --indigo-color: #5603AD;
    --purple-color: #8965E0;
    --pink-color: #F3A4B5;
    --orange-color: #FB6340;
    --yellow-color: #FFD600;
    --default-color: #172B4D;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.625;
    font-size: 18px;
    color: var(--dark-color);
}

.contenedor {
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
}

/*== HEADER ==*/
header {
    padding: 1rem 0 1rem;
}

h1, h2, h3, h4 {
    text-align: center;
}

/*== NAVEGACION ==*/
.navegacion {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 1rem;
    flex-wrap: wrap;
}

.navegacion a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: inherit;
    padding: .5rem .5rem;
    transition: all 0.3s ease;
}

.navegacion a:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}

/*== ACCIONES GENERALES ==*/
.acciones {
    width: 90%;
    display: flex;
    margin: 1rem auto;
}

.acciones a {
    padding: .5rem 1rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
}

.acciones a:hover {
    background-color: var(--green-color);
}

/*== TABLA ALUMNOS ==*/
.personas {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.personas thead {
    border-bottom: 2px solid var(--dark-color);
}

.personas th {
    padding: .3rem 0;
    cursor: pointer;
}

.personas th:hover {
    color: var(--green-color);
}

.personas th:last-child {
    cursor: default;
    color: inherit;
}

.personas th {
    text-align: left;
}

.personas th:first-child {
    text-align: center;
    width: 4rem;
}

.personas th:last-child {
    text-align: center;
}

.personas tbody tr:nth-child(odd) {
    background-color: var(--light-color);
}

.personas td {
    padding: .2rem 0;
}

.personas td:first-child {
    text-align: center;
}

.personas td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*== ACCIONES TABLA ==*/
.btn {
    text-decoration: none;
    transition: all 0.2s ease;
    border: none;
    background-color: unset;
    cursor: pointer;
}

/*== Estilos svg acciones ==*/
.editar-persona, .borrar-persona {
    width: 28px;
    height: 28px;
}

.editar-persona:hover {
    fill: var(--green-color);
}

.borrar-persona:hover {
    fill: var(--red-color);
}


/*== FOOTER ==*/
footer {
    margin: 2.5rem 0 1.5rem;
}

footer p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

/*== FORMULARIO ALUMNO ==*/
.formulario {
    width: 70%;
    margin: 1rem auto;
    border: 1px solid var(--dark-color);
    padding: 0 2rem 1rem;
}

.formulario.busqueda {

}

.layout-formulario {
    display: flex;
    justify-content: space-between;
}

.columna-formulario {
    width: calc(50% - 1rem);
}

.titulo-formulario {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    color: inherit;
}

.cerrar-formulario {
    text-decoration: none;
    color: inherit;
    font-size: 50px;
    font-weight: 300;
}

.cerrar-formulario:hover {
    color: var(--red-color);
}

.formulario label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}

.campo-formulario {
    margin: .7rem 0;
}

.campo-formulario > * {
    display: inline-block;
    width: 100%;
}

.campo-formulario input[type="text"], input[type="date"], input[type="number"], select {
    font-weight: 300;
    color: var(--gray-color);;
    padding: .2rem .5rem;
    height: 35px;
}

.campo-formulario input:focus, select:focus {
    /*outline: none;*/
    outline-color: var(--blue-color);
}

.btn--submit {
    background-color: var(--dark-color);
    padding: .5rem 1rem;
    color: var(--light-color);
    font-weight: bold;
    margin: 1rem 0;
}

.btn--submit:hover {
    background: var(--green-color);
}

.error {
    color: var(--red-color);
    font-size: 1rem;
}

/*== FORMULARIO ALUMNO ==*/
.alerta {
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
}

.alerta-exito {
    background-color: var(--green-color);
}

.alerta-info {
    background-color: var(--blue-color);
}

.alerta-error {
    background-color: var(--red-color);
}

/*== CLASES DE UTILIDAD ==*/
.flex {
    display: flex;
}

.justify-right {
    justify-content: right;
}

.w-100 {
    width: 100%;
}
